body {
    background-color: black;
    text-align: center;
    margin: 0px;
}

.header {
    background-color: black;
    text-align: center;
    height: 70px;
    font-size: 50px;
    color: white;
}

.body1 {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
}

.footer {
    background-color: black;
    text-align: left;
    font-size: 20px;
    color: white;
}

table {
    border: 2px;
    border-color: white;
    border-style: solid;
    background-color: black;
    border-radius: 5px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

td {
    border: 2px;
    border-color: white;
    border-style: solid;
    background-color: black;
    border-radius: 5px;
}

th {
    border: 2px;
    border-color: white;
    border-style: solid;
    background-color: black;
    height: 85px;
    width: 300px;
}

input {
    border: 2px;
    border-color: white;
    border-style: solid;
    background-color: black;
    border-radius: 5px;
    font-size: 20px;
    height: auto;
    width: 300px;
    color: white;
}

input:hover {
    border-color: white;
    border-style: solid;
    background-color: white;
    color: black;
}

button {
    border: 2px;
    border-color: white;
    border-style: solid;
    background-color: black;
    border-radius: 5px;
    font-size: 20px;
    height: auto;
    width: 300px;
    color: white;
}

button:hover {
    border-color: white;
    border-style: solid;
    background-color: white;
    color: black;