body {
    background-color: white;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

.header {
    background-color: black;
    text-align: center;
    font-size: 50px;
    color: white;
}

.footer {
    background-color: black;
    text-align: left;
    font-size: 20px;
    color: white;
}