body {
    background-color: white;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

.header {
    background-color: black;
    text-align: center;
    height: 70px;
    font-size: 50px;
    color: white;
}

.body1 {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 30px;
}

.h1 {
    font-size:
}

.footer {
    background-color: black;
    text-align: left;
    font-size: 20px;
    color: white;
}